.weather-container {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 16px;
    position: absolute;
    top: 499px;
    left: 1089px;
  }
  
  .weather-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
  }
  
  .weather-info {
    display: flex;
    flex-direction: column;
  }
  
  .weather-text {
    font-size: 16px;
    margin-bottom: 4px;
  }